*~
*__pycache__*
*_ext*
*.bag
*.json
*.csv
*.cu.o
*.DS_Store
*.gif
*.ipynb_checkpoints
*.pkl
*.png
*.pth
*.pyc
*.tfevents*
*.yml
*.yaml
*.om
*.catkin_workspace
*.txt

.idea/
# .vscode/
*.egg-info/
build/
ckpt/
ckpts/
ckpts
data
dist/
devel/
exp_*/
experiments
logs
output/
results/
result_*/
LaserDet/dr_spaam_ros_backup/
LaserDet/dr_spaam_ros/build*/
LaserDet/dr_spaam_ros/devel*/
wandb
