aipp_op {
    aipp_mode : static
    related_input_rank : 0
    rbuv_swap_switch: false
    input_format : YUV420SP_U8
    src_image_size_w : 448
    src_image_size_h : 448
    crop : false
    csc_switch : true
    # 色域转换
    matrix_r0c0 : 256
    matrix_r0c1 : 454
    matrix_r0c2 : 0
    matrix_r1c0 : 256
    matrix_r1c1 : -88
    matrix_r1c2 : -183
    matrix_r2c0 : 256
    matrix_r2c1 : 0
    matrix_r2c2 : 359
    input_bias_0 : 0
    input_bias_1 : 128
    input_bias_2 : 128
    #开启数据归一化，配置均值和方差的倒数
}